@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}


body{
   font-family: 'Barlow Semi Condensed', sans-serif;
}


body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background: radial-gradient(circle at 50% 0%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.info h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.info h2 em {
  color: #fff;
}

.wins-losses {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}

.wins,
.losses {
  display: flex;
  align-items: center;
}

.wins .number,
.losses .number {
  font-size: 52px;
  margin-right: 5px;
}

.wins {
  margin-right: 30px;
}

.wins .number {
  color: #5dc674;
}

.losses .number {
  color: #da516f;
}

.choices {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  row-gap: 30px;
  column-gap: 50px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 28px;
  color: #48acf0;
}

.choices > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vs {
  font-size: 75px;
  opacity: 0.3;
  padding-bottom: 10px;
  pointer-events: none;
}

.choices button {
  cursor: pointer;
  margin: 15px 15px 25px;
  padding: 20px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 175px;
  width: 175px;
  transition: 0.1s ease all;
}

.choices button:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.choices img {
  width: 140px;
}

/* .choices .rock {
  background: linear-gradient(to bottom, #007AFF, #007AF7);
} */

.choices .rock img {
  margin-left: 1px;
  margin-top: 12px;
  width: 120px;
}

/* .choices .paper {
  background: #89b27a;
} */

.choices .paper img {
  margin-left: 8px;
  width: 110px;
}

/* .choices .scissors {
  background: #383f39;
} */

.choices .scissors img {
  transform: rotate(25deg);
  margin-left: -11px;
  width: 130px;
}

/* .choices .lizard {
  background: #ffc2b6;
} */

.choices .lizard img {
  margin-left: -11px;
  width: 120px;
}

.choices .spock {
  /* background: #c1c1c1; */
  max-height: 175px;
  overflow: hidden;
}

.choices .spock img {
  width: 110px;
}


.choices .computer-choice {
  background: #2c95ce;
  color: #f5fbef;
  font-size: 65px;
}

.game-state {
  background: rgba(130, 108, 127, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 1.3;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.game-state.win > div {
  background: #70f8ba;
  color: #4d3c6a;
}

.game-state.draw > div {
  background: #dfe76b;
  color: #f5fbef;
}

.game-state.lose > div {
  background: #e2384a;
  color: #f8a09a;
}

.game-state > div {
  width: 60%;
  text-align: center;
  padding: 0 40px;
  border-radius: 10px;
  z-index: 1;
  color: #fff;
  font-size: 60px;
}

.game-state-content {
  display: flex;
  justify-content: center;
}

.game-state-content p {
  margin: 40px 30px 30px 0;
  display: flex;
  align-items: center;
}

.game-state-content p:last-child {
  margin-right: 0;
}

.game-state-content img {
  width: 140px;
}

.game-state button {
  margin-bottom: -5%;
  width: 100%;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 25px;
  font-size: 30px;
  cursor: pointer;
  flex-shrink: 1;
  background: #fdfffc;
  color: #392759;
}
